<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<hr>
				<h2>{{ footer_headline }}</h2>
				<p>
					Footer Start (templates/{{ _self }})
				</p>
				<p>{{ footer_copy }}</p>
				<p>
					Copyright {{"now"|date('Y')}}
				</p>
				<p>
					Footer End
				</p>
				<hr>
			</div>
		</div>
	</div>
</footer>
