<div class="block-a">
  <h1>
    {{ headline }}
  </h1>
  <div>
  {% set image = Image(copy) %}
  <figure>
    <img src="{{ image }}" alt="{{image.alt}}">
      {% if image.caption %}
        <figcaption>{{ image.caption }}</figcaption>
      {% endif %}
  </figure>
  </div>
</div>